/* Fonts */
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/montserrat-v25-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-500 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-800 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/montserrat-v25-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  body {
     font-family: Montserrat, sans-serif;
     color: #ffffff;
     margin: 0px;
  }

  main, footer {
     background-color: #252B42;
  }

  /* Preview */
  .preview {
     background-image: url(/images/header-background.jpg);
     background-repeat: no-repeat;
  }

  .header {
     width: 1322px;
     margin-left: 59px;
     margin-right: 59px;
  }

  .navigation {
     display: flex;
     flex-direction: row;
     padding-left: 136px;
  }

  .logo {
     padding: 13px 66px 13px 0;
     margin-top: 23px;
     margin-bottom: 23px;
     color: inherit;
     font-weight: 700;
     font-size: 24px;
     line-height: 32px;
     text-decoration: none;
  }

  .navigation-menu {
     list-style-type: none;
     display: flex;
     margin: 0;
     padding: 0;
     align-items: center;
  }

  .menu-items {
     color: inherit;
     font-weight: 600;
     font-size: 14px;
     line-height: 24px;
     text-decoration: none;
  }

  .preview-wrap {
     display: flex;
     width: 1050px;
     margin-left: 195px;
     margin-right: 195px;
  }

.preview-text-side {
     box-sizing: border-box;
     width: 600px;
     margin-top: 140.5px;
     margin-bottom: 140.5px;
     margin-right: 120px;
}

  .slogan {
     font-weight: 800;
     font-size: 58px;
     line-height: 80px;
     letter-spacing: 0.2px;
     padding-bottom: 35px;
     margin: 0px;
  }

  .preview-text {
     width: 376px;
     height: 60px;
     font-weight: 500;
     font-size: 20px;
     line-height: 30px;
     margin: 0px;
  }

  .btn-flex {
     display: flex;
     flex-direction: row;
  }

.preview-btn {
     color: inherit;
     font-weight: 700;
     font-size: 14px;
     line-height: 28px;
     text-decoration: none;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 10px 36px;
     margin-top: 35px;
     background: #FFA62B;
     border-radius: 37px;
}

.empty {
     margin-left: 10px;
     background: none;
     border: 1px solid #ffffff;
}

.preview-form {
     color: #252B42;
     width: 350px;
     background-color: #fff;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 40px;
}

.form-name {
     display: block;
     font-weight: 700;
     font-size: 24px;
     line-height: 32px;
     text-align: center;
     letter-spacing: 0.1px;
}

.btn {
     color: #FFFFFF;
     font-weight: 700;
     font-size: 14px;
     line-height: 28px;
     text-align: center;
     letter-spacing: 0.2px;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 15px 40px;
     gap: 10px;
     width: 248px;
     height: 58px;
     background: #FFA62B;
     border-radius: 5px;
     border: none;
}

/* Advantages */
h2[class$="-text-main"] {
     font-weight: 700;
     font-size: 40px;
     line-height: 57px;
     letter-spacing: 0.2px;
}

.problems-in-all {
     font-weight: 500;
     font-size: 14px;
     line-height: 20px;
}

.card-name{
     color: #252B42;
     background-color: #8EC2F2;
     font-weight: 700;
     font-size: 16px;
     line-height: 24px;
}

.card-description {
     color: #737373;
     background-color: #fff;
     font-weight: 600;
     font-size: 14px;
     line-height: 24px;
}

.card-more {
     color: #00A0C1;
     font-weight: 600;
     font-size: 14px;
     line-height: 24px;
     text-decoration: none;
}

/* Team */
.member-info {
     background-color: #fff;
}

.member-name {
     color: #252B42;
     font-weight: 700;
     font-size: 16px;
     line-height: 24px;
}

.member-post {
     color: #737373;
     font-weight: 600;
     font-size: 14px;
     line-height: 24px;
}

/* Order */
.order {
     background-image: url(/images/order-background.jpg);
     background-repeat: no-repeat;
}

/* Consult promo */
.consult-promo {
     background-color: #fff;
}

.consult {
     font-weight: 700;
     font-size: 24px;
     line-height: 32px;
     letter-spacing: 0.1px;
     color: #252B42;
}

.consult-idiom{
     font-weight: 500;
     font-size: 14px;
     line-height: 20px;
     letter-spacing: 0.2px;
     color: #737373; 
}

/* Footer */
.footer-info-title {
     font-weight: 700;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.1px;
}

.title-more-item {
     font-weight: 600;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 0.2px;
     color: #BDBDBD;
}

.lorem {
     font-weight: 600;
     font-size: 12px;
     line-height: 28px;
     letter-spacing: 0.2px;
     color: #BDBDBD;
}















  